# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Database
database.sqlite

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Uploads
uploads/configs/*
!uploads/configs/.gitkeep

# Build files
dist/
build/
